contourpy==1.2.1
cycler==0.12.1
Cython==0.29.37
fonttools==4.52.1
gensim==4.3.2
hdbscan==0.8.36
importlib-resources==6.4.0
joblib==1.4.2
kiwisolver==1.4.5
llvmlite==0.42.0
matplotlib==3.9.0
numba==0.59.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pynndescent==0.5.12
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.0
scipy==1.12.0
six==1.16.0
smart-open==7.0.4
threadpoolctl==3.5.0
top2vec==1.0.34
tqdm==4.66.4
tzdata==2024.1
umap-learn==0.5.6
wordcloud==1.9.3
wrapt==1.16.0
zipp==3.18.2
